body {
    background-color: #FFCC00;
    padding: 2%;
    height: 100vh;
  }

#custom-container {
    height: 100%;
    border-radius: 10px;
    border: 2px solid #cc6600;
}

.row {
    height: 33.33333333%;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#KeySymbol {
    font-size: 5em;
    font-style: bold;
}