body {
    background-image: url('./2.jpg');
    padding: 5% 15%;
    height: 100vh;
}

#custom-container {
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(204, 102, 0, 0.53);
    box-shadow: rgba(196, 173, 60, 0.6) 0 0 200px 9px;
    background: rgba(255, 204, 0, 0.85);
}

#noteStaff {
    width: 100%;
}

#noteStaff>svg {
    width: 100%;
}

h1 {
    font-size: 4.1vw;
}

.row {
    height: 33.33333333%;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pageTitle {
    font-family: "Dancing Script", cursive;
    text-shadow: grey 2px 2px 10px;
}

.keySymbol {
    font-size: 10vh;
    font-family: "Dancing Script", cursive;
    text-shadow: grey 2px 2px 10px;
}

#container {
    width: 25vh;
}

.progressbar-text {
    font-size: 12vh;
    font-style: bold;
    position: absolute;
    top: 10%;
    left: 16%;
    color: black;
}

#bpm {
    width: 40%;
    margin-right: 4%;
}

#bpmText {
    padding: 10px 10px 10px;
}

#timeSign {
    width: 12%;
}