body {
    background-color: #ffcc00;
    padding: 5% 15%;
    height: 100vh;
  }

#custom-container {
    height: 100%;
    border-radius: 10px;
    border: 3px solid rgba(204, 102, 0, 0.53);
    box-shadow: rgb(154, 67, 67) 1px 1px 100px;
    background: #FFCC00;
}

h1 {
    font-size: 4.1vw;
}

.row {
    height: 33.33333333%;
}

.custom-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#pageTitle {
    font-family: "Dancing Script", cursive;
    text-shadow: grey 2px 2px 10px;
}

#keySymbol {
    font-size: 6.9vw;
    font-style: bold;
}

#temp{
    width: 40%;
}